---
import type { Translation } from "@/i18n";

import { Card, CardHeader, CardContent, CardFooter } from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";

import heroImage from "@/assets/img/students_hero.png"
import studentDetail from "@/assets/img/student_detail.png"
import gradient from "@/assets/img/gradient_1.png"
import Link from "@/components/ui/link";
interface Props {
    t: Translation
}

const { 
    t
} = Astro.props;
---

<div class="grid gap-3">
  <Card className="flex flex-col items-center justify-start text-center h-110 sm:h-160 overflow-hidden bg-gray-50 gap-6">
    <CardHeader className="pb-4">
      <h1 class="text-3xl font-bold max-w-3xl">{t.students.mainTitle}</h1>
    </CardHeader>
    <CardContent>
      <p class="text-muted-foreground max-w-150">
        {t.students.mainDescription}
      </p>
    </CardContent>
    <CardFooter>
      <Image src={heroImage} alt="Hero" loading="eager" class="sm:w-3/4 mx-auto" />
    </CardFooter>
  </Card>
  
  <div class="grid sm:grid-cols-2 gap-3 px-4">
    <Card
      className="flex rounded flex-col items-center justify-center bg-cover bg-center text-center text-white"
      style={{
        backgroundImage: `url('${gradient.src}')`,
        backgroundSize: "cover",
        backgroundPosition: "left",
      }}
    >
      <CardHeader className="pb-4">
        <h2 class="text-3xl font-bold max-w-100">{t.students.studentInvoicingTitle}</h2>
      </CardHeader>
      <CardContent className="flex flex-col gap-6 items-center">
        <p class=" max-w-100">
          {t.students.studentInvoicingDescription}
        </p>
      </CardContent>
      <CardFooter className="flex gap-3">
        <Link href="demo">
            <Button variant="secondary">
                {t.bookDemo}
            </Button>
        </Link>
      </CardFooter>
    </Card>

    <Card className="flex rounded flex-col items-center text-center gap-6 h-110 sm:h-160 overflow-hidden bg-gray-50">
      <CardHeader className="pb-2">
        <h2 class="text-3xl font-bold">{t.students.studentDetailTitle}</h2>
      </CardHeader>
      <CardContent className="flex flex-col gap-3 items-center">
        <p class="text-muted-foreground max-w-140">
          {t.students.studentDetailDescription}
        </p>
      </CardContent>
      <CardFooter>
        <Image src={studentDetail} alt="Organization" />
      </CardFooter>
    </Card>
  </div>
</div>