---
import { translations, languages } from '@/i18n/index.ts';
import Layout from "@/layouts/main.astro";
import Hero from "@/modules/home/Hero.astro";
import Carrousel from "@/modules/home/Carrousel";
import Conclusion from "@/modules/home/Conclusion.astro";
import MarketStats from "@/modules/home/MarketStats.astro";
import Features from "@/modules/home/Features.tsx";

export function getStaticPaths() {
  return languages.map(lang => ({
    params: { lang },
    props: { lang }
  }));
}
const { lang } = Astro.props;
const t = translations[lang as keyof typeof translations];
---
<Layout content={{ title: t.meta.homeTitle }} lang={lang}>
    <section class="grid gap-16">
        <Hero t={t} />
        <MarketStats t={t} />
        <Features client:load t={t} lang={lang} />
        <Carrousel client:load t={t} lang={lang} />
        <Conclusion lang={lang} />
    </section>
</Layout>