---
import { getCollection } from "astro:content";
import Layout from "@/layouts/main.astro";
import { translations } from "@/i18n/index.ts";
import BlogPostList from "@/components/BlogPostList.tsx";

export async function getStaticPaths() {
    return [
        { params: { lang: "es" }, props: { lang: "es" } },
        { params: { lang: "en" }, props: { lang: "en" } },
        { params: { lang: "ca" }, props: { lang: "ca" } },
        { params: { lang: "eus" }, props: { lang: "eus" } },
        { params: { lang: "fr" }, props: { lang: "fr" } },
    ];
}

const { lang } = Astro.props;
const t = translations[lang as keyof typeof translations];
const collectionName =
    lang === "en"
        ? "blogEn"
        : lang === "fr"
          ? "blogEn"
          : lang === "ca"
            ? "blogCa"
            : lang === "eus"
              ? "blogEus"
              : "blogEs";
const posts = await getCollection(collectionName);
const sortedPosts = posts.sort((a, b) => b.data.date.localeCompare(a.data.date));
---

<Layout
    content={{
        title: `${t.navigation.blog} | Edena`,
        description: `${t.navigation.blog} — Edena.`,
    }}
    lang={lang}
>
    <section class="px-4">
        <h1 class="text-center max-w-2xl mx-auto pt-10 pb-8 text-xl font-bold">
            {t.navigation.blog}
        </h1>
        <BlogPostList client:load posts={sortedPosts} lang={lang} />
    </section>
</Layout>
