---
import '@/styles/global.css';
import MainNavigationMenu from '@/components/NavigationMenu';
import Footer from '@/components/Footer.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
  content?: {
    title?: string;
    description?: string;
  };
  lang?: string;
}

const { 
  content = {
    title: "School ERP, Edena",
    description: "Edena | School Management"
  },
  lang = "es"
} = Astro.props;
---

<html lang={lang}>
  <head>
    <ClientRouter />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={content.description} />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <title>{content.title}</title>
  </head>
  <body class="min-h-screen flex flex-col gap-8">
    <MainNavigationMenu client:load lang={lang}/>
    <main class="pt-15 flex-grow">
      <slot />
    </main>
    <Footer lang={lang}/>
  </body>
</html>