---
import type { Translation } from "@/i18n";

import { Card, CardHeader, CardContent, CardFooter } from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import BookDemoButton from "@/components/BookDemoButton.astro";

import Link from "@/components/ui/link";
import GSAPSection from "@/components/ui/gsap-section";
import heroImage from "@/assets/img/screenshots/shared/hero.png";

interface Props {
    t: Translation;
}

const { t } = Astro.props;
---

<GSAPSection client:load className="grid gap-4" animationType="opacity">
    <Card
        className="flex flex-col items-center justify-start text-center h-120 sm:h-160 overflow-hidden bg-gray-50 gap-4"
    >
        <CardHeader>
            <h1 class="text-xl font-bold max-w-2xl">{t.hero.mainTitle}</h1>
        </CardHeader>
        <CardContent>
            <p class="text-muted-foreground max-w-150">
                {t.hero.mainDescription}
            </p>
        </CardContent>
        <CardFooter>
            <Image
                src={heroImage}
                alt="Hero"
                loading="eager"
                class="w-full mx-auto object-contain"
                style="aspect-ratio: 16/9;"
            />
        </CardFooter>
    </Card>

    <div class="grid sm:grid-cols-2 gap-4 px-4">
        <Card
            className="flex rounded flex-col items-center justify-center text-center bg-gradient-primary"
        >
            <CardHeader className="pb-2">
                <h2 class="text-xl font-bold max-w-100">{t.hero.mobileTitle}</h2>
            </CardHeader>
            <CardContent className="flex flex-col gap-6 items-center">
                <p class="max-w-100">
                    {t.hero.mobileDescription}
                </p>
            </CardContent>
            <CardFooter>
                <Link href="app">
                    <Button variant="secondary">
                        {t.knowMore}
                    </Button>
                </Link>
            </CardFooter>
        </Card>

        <Card className="flex rounded flex-col items-center text-center overflow-hidden bg-gray-50">
            <CardHeader className="pb-2">
                <h2 class="text-xl font-bold">{t.hero.orgTitle}</h2>
            </CardHeader>
            <CardContent className="flex flex-col gap-4 sm:gap-8 items-center">
                <p class="text-muted-foreground max-w-140">
                    {t.hero.orgDescription}
                </p>
                <BookDemoButton t={t} />
            </CardContent>
        </Card>
    </div>
</GSAPSection>
